.App-logo {
  height: 100px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
}

.Main {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
  align-items: center;
  justify-content: center;
}

.LocationData {
  opacity: 90%;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.btn {
  border-color: #ced4da;
}

.MapSlot {
  width: 100%;
  height: 100%;
}

.MapSlot_image {
  min-width: 100%;
  min-height: 100%;
  object-fit: contain;
}

.LocationData_weatherList {
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.WeatherCard {
  width: max-content;
}